<ion-header>
  <ion-row>
    <ion-title>Hi Greg</ion-title>
    <ion-icon name="document-outline" float="right"></ion-icon>
    <ion-icon name="notifications-outline" float="right"></ion-icon>
  </ion-row>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Portfolio total</ion-card-title>
  </ion-card-header>

  <ion-card-content class="total-wealth">
    <ion-row>
      <ion-col>
       <strong> £452,657.98 </strong>
      </ion-col>
    </ion-row>
  </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-chip [outline]="true">ISA</ion-chip>
        <ion-chip>GIA</ion-chip>
        <ion-chip>JISA</ion-chip>
        <ion-button class="more-accounts" fill="clear" style="text-transform:none" size="small">More</ion-button>
      </ion-col>
    </ion-row>
</ion-card>

<ion-tabs>
  
  <ion-router-outlet></ion-router-outlet>
  
  <ion-row>
    <ion-col>
      
      <ion-accordion-group expand="inset">
        <ion-accordion value="first">
          <ion-item slot="header" color="light-contrast">
            <ion-label>Scottish widows lump sum OEIC</ion-label> 
          </ion-item>
          <div class="ion-padding" slot="content" >
            <ion-row><ion-col><div class="card-content">13412738-0001 | £67,887.09</div></ion-col>
            </ion-row>
            <ion-row>
              <ion-chip class="stats_1">40%</ion-chip>
              <ion-chip class="stats_2">25%</ion-chip>
              <ion-chip class="stats_3">25%</ion-chip>
              <ion-chip class="stats_4">10%</ion-chip>
            </ion-row>
            <ion-row>
              <ion-col class="stat_label"><li class="stat_1">A3J UK ALL X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_3">A3J UK None Z</li></ion-col>
            </ion-row>
            <ion-row>  
              <ion-col class="stat_label"><li class="stat_2">A6J Emerging X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_4">P2Y Prop ACS2 Y</li></ion-col>
            </ion-row>
          </div>
          <div class="ion-padding" slot="content">
            <ion-row><ion-col><div class="card-content">13412738-0001 | £67,887.09</div></ion-col>
            </ion-row>
            <ion-row>
              <ion-chip class="stats_1">40%</ion-chip>
              <ion-chip class="stats_2">25%</ion-chip>
              <ion-chip class="stats_3">25%</ion-chip>
              <ion-chip class="stats_4">10%</ion-chip>
            </ion-row>
            <ion-row>
              <ion-col class="stat_label"><li class="stat_1">A3J UK ALL X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_3">A3J UK None Z</li></ion-col>
            </ion-row>
            <ion-row>  
              <ion-col class="stat_label"><li class="stat_2">A6J Emerging X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_4">P2Y Prop ACS2 Y</li></ion-col>
            </ion-row><br>
            <ion-button fill="outline" style="text-transform:none">View all</ion-button>
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light-contrast">
            <ion-label>Scottish widows lump sum OEIC</ion-label> 
          </ion-item>
          
          <div class="ion-padding" slot="content">
            <ion-row><ion-col><div class="card-content">13412738-0001 | £67,887.09</div></ion-col>
            </ion-row>
            <ion-row>
              <ion-chip class="stats_1">40%</ion-chip>
              <ion-chip class="stats_2">25%</ion-chip>
              <ion-chip class="stats_3">25%</ion-chip>
              <ion-chip class="stats_4">10%</ion-chip>
            </ion-row>
            <ion-row>
              <ion-col class="stat_label"><li class="stat_1">A3J UK ALL X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_3">A3J UK None Z</li></ion-col>
            </ion-row>
            <ion-row>  
              <ion-col class="stat_label"><li class="stat_2">A6J Emerging X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_4">P2Y Prop ACS2 Y</li></ion-col>
            </ion-row>
          </div>
          <div class="ion-padding" slot="content">
            <ion-row><ion-col><div class="card-content">13412738-0001 | £67,887.09</div></ion-col>
            </ion-row>
            <ion-row>
              <ion-chip class="stats_1">40%</ion-chip>
              <ion-chip class="stats_2">25%</ion-chip>
              <ion-chip class="stats_3">25%</ion-chip>
              <ion-chip class="stats_4">10%</ion-chip>
            </ion-row>
            <ion-row>
              <ion-col class="stat_label"><li class="stat_1">A3J UK ALL X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_3">A3J UK None Z</li></ion-col>
            </ion-row>
            <ion-row>  
              <ion-col class="stat_label"><li class="stat_2">A6J Emerging X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_4">P2Y Prop ACS2 Y</li></ion-col>
            </ion-row><br>
            <ion-button fill="outline" style="text-transform:none">View all</ion-button>
          </div>
       
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light-contrast">
            <ion-label>Scottish widows lump sum OEIC</ion-label> 
          </ion-item>
          
          <div class="ion-padding" slot="content">
            <ion-row><ion-col><div class="card-content">13412738-0001 | £67,887.09</div></ion-col>
            </ion-row>
            <ion-row>
              <ion-chip class="stats_1">40%</ion-chip>
              <ion-chip class="stats_2">25%</ion-chip>
              <ion-chip class="stats_3">25%</ion-chip>
              <ion-chip class="stats_4">10%</ion-chip>
            </ion-row>
            <ion-row>
              <ion-col class="stat_label"><li class="stat_1">A3J UK ALL X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_3">A3J UK None Z</li></ion-col>
            </ion-row>
            <ion-row>  
              <ion-col class="stat_label"><li class="stat_2">A6J Emerging X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_4">P2Y Prop ACS2 Y</li></ion-col>
            </ion-row>
          </div>
          <div class="ion-padding" slot="content">
            <ion-row><ion-col><div class="card-content">13412738-0001 | £67,887.09</div></ion-col>
            </ion-row>
            <ion-row>
              <ion-chip class="stats_1">40%</ion-chip>
              <ion-chip class="stats_2">25%</ion-chip>
              <ion-chip class="stats_3">25%</ion-chip>
              <ion-chip class="stats_4">10%</ion-chip>
            </ion-row>
            <ion-row>
              <ion-col class="stat_label"><li class="stat_1">A3J UK ALL X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_3">A3J UK None Z</li></ion-col>
            </ion-row>
            <ion-row>  
              <ion-col class="stat_label"><li class="stat_2">A6J Emerging X</li></ion-col>
              <ion-col class="stat_label"><li class="stat_4">P2Y Prop ACS2 Y</li></ion-col>
            </ion-row><br>
            <ion-button fill="outline" style="text-transform:none">View all</ion-button>
          </div>
       
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="apps-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="funds">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon name="reload-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="help-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
